.user-header-links {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.user-input-container {
    display: flex;
    justify-content: center;
    margin: 5px;
    padding: auto;
    text-align: center;
    border: 2px solid #ccc;
}

.user-search-label {
    margin: 5px;
}

input[type="text"] {
    padding: 5px;
    font-size: 14px;
    border: 2px solid #ccc;
    border-radius: 5px;
    width: 600px;
    outline: none;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus {
    border-color: #4CAF50;
}

.user-workplace {
    display: flex;
    justify-content: space-between;
    margin: 5px, 0px;
    padding: 0, 0;
    text-align: left;

    border: 2px solid blue;
    border-radius: 5px;
}

.user-left-sidebar {
    width: 25%;
    border: 2px solid #ccc;
    border-radius: 5px;
}

.user-right-sidebar {
    width: 25%;
    padding: 15px;

    border: 2px solid #ccc;
    border-radius: 5px;
}

.user-center {
    background-color: white;
    width: 50%;
    padding: 5px;
}

.user-center-top fieldset {
    padding-left: 15px;
    padding-top: 5px;
}

.user-center-bottom {
    padding-top: 5px;
}

//-----------------------------------------
// Menu-TREE of Utems
ul,
#menu-tree {
    list-style-type: none;
}

#menu-tree {
    margin: 15px;
    padding: 0;
}

.caret {
    cursor: pointer;
    user-select: none;
    /* Prevent text selection */
}

/* Create the caret/arrow with a unicode, and style it */
.caret::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;
}

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.caret-down::before {
    transform: rotate(90deg);
}

.nested {
    display: none;
    /* Hide the nested list */
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.active {
    display: block;
}