* {
    margin: 0;
    padding: 0;
}

/* all screen */
.screen {
    min-height: fit-content;

}


/*------------------------------------ Top line */
.titlebar {
    display: grid;
    grid-template-columns: 15% auto 15%;
    background-color: cornflowerblue;
}


.icontitle {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    min-height: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-size: large;
    color: cyan;



    padding-top: 10px;
    padding-bottom: 10px;

}

.icon {
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid cornflowerblue;

    border-radius: 30%;
}

.logotext {
    padding-left: 5px;
    padding-right: 5px;
}


.menutitle {

    font-family: Verdana, Geneva, Tahoma, sans-serif;

    text-align: right;
    padding: 16px;
    padding-bottom: 0px;
}

.logtitle {
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
    justify-items: center;
    flex-direction: row;






    min-width: fit-content;

    padding: 10px;
}

.user {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-size: large;
    color: cyan;
}

.regbutton {
    border: 1px solid black;
    padding: 10px;
    min-width: fit-content;
    min-height: fit-content;

    color: rgb(98, 0, 255);

    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;

    box-sizing: border-box;

    justify-content: center;
    align-items: center;

    cursor: pointer;

    border-radius: 5px;

    transition: all 0.3s;

}

/*-------------------------------------- middle */
.middle {
    /* border: 5px solid red; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    font-family: Verdana, Geneva, Tahoma, sans-serif;

    text-align: left;
    justify-content: space-around;

    color: blue;

}

.leftmenu {
    border: 2px solid black;
    border-radius: 15px;

    padding-left: 20px;
    justify-content: left;
    justify-items: left;

}

.righttmenu {

    border: 2px solid black;
    justify-content: left;
    justify-items: left;
}

/*------------------------------- bottom line*/
.bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.location {
    background-color: black;
    text-align: center;
    color: cyan;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;

    background: black;

    padding-top: 10px;
    padding-bottom: 10px;
}

.footitem {
    color: cyan;
    font-style: normal;
    font-weight: 200;

    line-height: 13px;
    text-align: center;
}




.link {
    font-weight: bold;
}