{% extends "index.html" %}
{% load static %}

{% block title %}
<title>About</title>
{% endblock %}

{% block theme %} 
{% endblock %}

{% block perform %}
    <div>
        CommU is a service:
        <ul>
            <li> to manage human own bussiness: daily bussiness, community bussiness, mankind bussiness - "DEAL conception" </li>
            <li> there are no just 'events' - there are paces in businesses </li>
            <li> there are "customer", "hired worker", "partner" models (business partner, life parther ...) </li>
        </ul>
    </div>

    <a href="/" class="linkback">back to Main page</a>
{% endblock %}
