{% extends "index.html" %}
{% load static %}

{% block title %}
    <title>Set event</title>
{% endblock %}

{% block style %}
    {{ block.super }}
    <style>
        .work-field {
            display: flex;
            flex-direction: row;
            align-items: left;
            justify-content: center;
            font-size: large;

            /*
            border: 1px solid blue;
            border-radius: 8px;
            */
        }

        .center {
            display: flex;
       
            justify-content: left;
            border: 1px solid blue;
            border-radius: 8px;
            padding: 10px;

        }

        .items {
            padding: 5px;
            padding-left: 20px;
            border: 1px solid #ccc;
            border-radius: 8px;
        }

        input[type='text'] {
            width: 50px;
        }
        input[type='submit'] {
            width: 150px;
            font-size: large;
        }

        input:invalid + span::after {
            content: " ✖";
        }

        input:valid + span::after {
            content: " ✓";
        }


    </style>
{% endblock %}

{% block query %} 
    <a href="/" class="linkback">back to Main page</a>
    <hr>
{% endblock %}


{% block perform %}
    <div class="work-field">
        <form method="POST" id="dataid">
        {% csrf_token %}

        <div class="center">
            <div class="items">
                <input type="submit" value="Add to..." name="set">
            </div>            
            <div class="items">
                {% if user_contract %}
                    contract "{{user_contract}}" skill "{{user_skill}}": 
                {% else %}
                    project "{{user_project}}" skill "{{user_skill}}": 
                {% endif %}
                <label id="status">once {{start_date_day}} {{start_month_name}} {{start_date_year}} at {{start_time}}</label>
            </div>
        </div>
        <div class="center">
            <div class="items">
                <fieldset>
                    <legend>Date</legend>
                    <input type="date" id="start_date" value="{{start_date_year}}-{{start_date_month}}-{{start_date_day}}" name="start_date" oninput="set_event_string()">
                    <span class="validity"></span>
                </fieldset>
                <!--
                <fieldset>
                    <legend>Last date</legend>
                    <input type="date" id="end_day" disabled value="{{start_date_year}}-{{start_date_month}}-{{start_date_day}}">
                 </fieldset>
                -->
            </div>
            <div class="items">
                <fieldset>
                    <legend>Repeating</legend>
                        <label><input type="checkbox" class="check" name="once"  onclick="onlyOne(this, 'once')" checked>Once</label>
                        <label><input type="checkbox" class="check" name="daily" onclick="onlyOne(this, 'daily')">Daily</label>
                        <label><input type="checkbox" class="check" name="work"  onclick="onlyOne(this, 'work')">Work days</label>
                        <label><input type="checkbox" class="check" name="weekly"  onclick="onlyOne(this, 'weekly')">Weekly</label>
                        <label><input type="checkbox" class="check" name="atday"   onclick="onlyOne(this, 'atday')">Monthly on day</label>
                        <label><input type="checkbox" class="check" name="atweek" onclick="onlyOne(this, 'atweek')" disabled>Monthly weekday</label>
                        <label><input type="checkbox" class="check" name="yearly" onclick="onlyOne(this, 'yearly')">Annually</label>
                    <div>
                        <hr>
                        <label><input type="checkbox" class="check" name="wdays"  onclick="onlyOne(this, 'weekdays')">Week days</label>
                        <fieldset>
                            
                            <label><input type="checkbox" class="w_days" name="w_monday"   onclick="addwday()" disabled>Monday</label>
                            <label><input type="checkbox" class="w_days" name="w_tuesday"  onclick="addwday()" disabled>Tuesday</label>
                            <label><input type="checkbox" class="w_days" name="w_wednsday" onclick="addwday()" disabled>Wednsday</label>
                            <label><input type="checkbox" class="w_days" name="w_thirsday" onclick="addwday()" disabled>Thirsday</label>
                            <label><input type="checkbox" class="w_days" name="w_friday"   onclick="addwday()" disabled>Friday</label>
                            <label><input type="checkbox" class="w_days" name="w_saturday" onclick="addwday()" disabled>Saturday</label>
                            <label><input type="checkbox" class="w_days" name="w_sunday"   onclick="addwday()" disabled>Sunday</label>
                        </fieldset>
                    </div>
               </fieldset>
         </div>
        </div>

        <div class="center">
            <div class="items">
                <fieldset>
                    <legend>Start time</legend>
                    <input type="time" id="start_time" name="start_time" value={{start_time}} oninput="set_event_string()">
                </fieldset>
                <fieldset>
                    <legend>End time</legend>
                    <input type="time" id="end_time" name="end_time" value={{end_time}} oninput="set_event_string()" disabled>
                    <label><input type="checkbox" name="duration" onclick="addendtime(this)">Duration</label>
                 </fieldset>
            </div>            
            <div class="items">
               <fieldset>
                    <legend>Remind</legend>
                    <label><input type="checkbox" name="rem_5">5 Min</label>
                    <label><input type="checkbox" name="rem_15">15 Min</label>
                    <label><input type="checkbox" name="rem_30">30 Min</label>
                    <label><input type="checkbox" name="rem_1h">1 Hour</label>
                    <label><input type="checkbox" name="rem_1d">1 Day</label>
                </fieldset>
            </div>
        </div>
        </form>

        <form method="POST" id="dataid">
        {% csrf_token %}
        <div class="bottom-field">
            {% if local_user %}
                <div class="button">
                    {% if edit_mode %}
                        <input type="submit" value="Delete" name="delete">
                    {% endif %}       
                </div>
            {% endif %}                 
        </div> <!-- bottom-field -->

    </div> <!-- work-field -->
{% endblock %}


{% block point %}
    {{ block.super }}
<script>
    const months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
    const weekdays = ["Sunday", "Monday", "Tuesday", "Wednsday", "Thirsday", "Friday", "Saturday"];

    var event_type = 'once'

    //console.log({{start_weekday}})

    function addendtime(checkbox) {
        document.getElementById("end_time").disabled = !checkbox.checked;
    }

    function check_week_day() {
        var checkboxes = document.getElementsByClassName("w_days")
        var ind = {{start_weekday}}
        checkboxes[ind].checked = true
    }


    function addwday() {
        var checkboxes = document.getElementsByClassName("w_days")
        var day_list = "in "
        
        for (let i = 0; i < 7; i++) {
            checkboxes[i].disabled = false

            if (checkboxes[i].checked == true){
                if (i == 6) ind = 0; else ind = i + 1;
                if (day_list == "in ") div = ''; else div = ', ';
                
                day_list = day_list +div+ weekdays[ind];
            }     
        }

        var start_time = document.getElementById("start_time").value;
        var start_hour = start_time.slice(0, 2);
        var start_minute = start_time.slice(3, 6);
                
        document.getElementById("status").innerHTML = day_list +" at "+ start_hour+":"+start_minute;
    }

    function closewday(){
        var checkboxes = document.getElementsByClassName("w_days");             
        for (let i = 0; i < 7; i++) checkboxes[i].disabled = true;
    }

    function set_event_string(){
        var start_date = new Date(document.getElementById("start_date").value);
        var start_year = start_date.getFullYear();
        var start_day = start_date.getDate();
        var start_month = start_date.getMonth() + 1;
        var start_weekday = start_date.getDay();

        var start_time = document.getElementById("start_time").value;
        var start_hour = start_time.slice(0, 2);
        var start_minute = start_time.slice(3, 6);

        var event_string = document.getElementById("status")
        if (event_type == 'once') {
                event_string.innerHTML = "once " + start_day +' '+ months[start_month-1] +' '+ start_year +" at "+ start_hour+":"+start_minute;
            }
            else if (event_type == 'daily') {
                event_string.innerHTML = "everyday at "+ start_hour+":"+start_minute;
            }            
            else if (event_type == 'work') {
                event_string.innerHTML = "from Monday to Friday at "+ start_hour+":"+start_minute;
            }
            else if (event_type == 'weekly') {
                event_string.innerHTML = "every " + weekdays[start_weekday] +" at "+ start_hour+":"+start_minute;
            }            
            else if (event_type == 'atday') {
                event_string.innerHTML = "every month in " + start_day+"'th" + " at "+ start_hour+":"+start_minute;
            }            
            else if (event_type == 'yearly') {
                event_string.innerHTML = "every year " + start_day +' '+ months[start_month-1] + " at "+ start_hour+":"+start_minute;
            }
            else if (event_type == 'weekdays') { addwday(); }

    }

    function onlyOne(checkbox, type) {
        console.log('onlyOne...', type)

        if (checkbox.checked == false) { checkbox.checked = true } // one at least must be checked
        else {
                if (type != 'weekdays') closewday()

                var checkboxes = document.getElementsByClassName("check")
                console.log('onlyOne...', checkboxes)
                console.log('onlyOne...', checkboxes.length)
                for (let i = 0; i < checkboxes.length; i++) {
                    if (checkboxes[i] !== checkbox) checkboxes[i].checked = false;
                }
            }
        event_type = type
        set_event_string()
            /*

            var start_time = document.getElementById("start_time").value;
            //console.log(start_time);
            //console.log(Number(start_time.slice(0, 2)), Number(start_time.slice(3, 6)));

            var start_hour = start_time.slice(0, 2);
            var start_minute = start_time.slice(3, 6);

            var start_date = new Date(document.getElementById("start_date").value);
            //start_date.setHours(Number(start_time.slice(0, 2)));
            //start_date.setMinutes(Number(start_time.slice(3, 6)));
            //console.log(start_date);
            
            var start_year = start_date.getFullYear();
            //console.log(start_year);
            var start_day = start_date.getDate();
            //console.log(start_day);
            var start_month = start_date.getMonth() + 1;
            //console.log(start_month);
            
            var start_weekday = start_date.getDay();
            
            //var start_hour = start_date.getHours();
            //var start_minute = start_date.getMinutes();


            if (type == 'once') {
                document.getElementById("status").innerHTML = "once " + start_day +' '+ months[start_month-1] +' '+ start_year +" at "+ start_hour+":"+start_minute;
            }
            else if (type == 'daily') {
                document.getElementById("status").innerHTML = "everyday at "+ start_hour+":"+start_minute;
            }            
            else if (type == 'work') {
                document.getElementById("status").innerHTML = "from Monday to Friday at "+ start_hour+":"+start_minute;
            }
            else if (type == 'weekly') {
                document.getElementById("status").innerHTML = "every " + weekdays[start_weekday] +" at "+ start_hour+":"+start_minute;
            }            
            else if (type == 'atday') {
                document.getElementById("status").innerHTML = "every month in " + start_day+"'th" + " at "+ start_hour+":"+start_minute;
            }            
            else if (type == 'yearly') {
                document.getElementById("status").innerHTML = "every year " + start_day +' '+ months[start_month-1] + " at "+ start_hour+":"+start_minute;
            }
            else if (type == 'weekdays') { addwday(); }
              */    
        }

    check_week_day()
</script>
{% endblock %}