{% extends "index.html" %}
{% load static %}

{% block title %}
    <title>Set event</title>
{% endblock %}

{% block style %}
    {{ block.super }}
    <style>
        .work-field {
            display: flex;
            flex-direction: column;
            align-items: left;
            justify-content: center;
            font-size: large;

            /*
            border: 1px solid blue;
            border-radius: 8px;
            */
        }

        .center {
            display: flex;
       
            justify-content: left;
            border: 1px solid blue;
            border-radius: 8px;
            padding: 10px;

        }

        .items {
            padding: 5px;
            padding-left: 20px;
            border: 1px solid #ccc;
            border-radius: 8px;
        }

        input[type='text'] {
            width: 50px;
        }
        input[type='submit'] {
            width: 150px;
            font-size: large;
        }

    </style>
{% endblock %}

{% block theme %} 
    <a href="/" class="linkback">back to Main page</a>
    <hr>
{% endblock %}


{% block perform %}
    <div class="work-field">
        <form method="POST" id="dataid">
        {% csrf_token %}

        <div class="center">
            <div class="items">
                <input type="submit" value="Add to plan" name="Add">
            </div>            
            <div class="items">
                skill "{{user_skill}}" to project "{{user_project}}": <span id="status">once</span>
            </div>
        </div>
        <div class="center">
            <div class="items">
                <fieldset>
                    <legend>First date</legend>
                    <input type="date" id="start_day">
                </fieldset>
                <fieldset>
                    <legend>Last date</legend>
                    <input type="date" id="end_day" disabled>
                 </fieldset>
            </div>
            <div class="items">
                <fieldset>
                    <legend>Repeating</legend>
                        <label><input type="checkbox" name="check" onclick="onlyOne(this, 'once')" checked> Once </label>
                        <label><input type="checkbox" name="check" onclick="onlyOne(this, 'daily')">Daily</label>
                        <label><input type="checkbox" name="check" onclick="onlyOne(this, 'work')"> Work days </label>
                       <label><input type="checkbox" name="check" onclick="onlyOne(this, 'weekly')"> Weekly </label>
                        <label><input type="checkbox" name="check" onclick="onlyOne(this, 'atday')"> Monthly on day </label>
                        <label><input type="checkbox" name="check" onclick="onlyOne(this, 'atweek')"> Monthly weekday </label>
                        <label><input type="checkbox" name="check" onclick="onlyOne(this, 'yearly')"> Every year </label>
               </fieldset>
         </div>
        </div>

        <div class="center">
            <div class="items">
                <fieldset>
                    <legend>Start time</legend>
                    <input type="time" placeholder="Hour" id="start_hour">
                </fieldset>
                <fieldset>
                    <legend>Duration</legend>
                    <input type="text" placeholder="Hours" id="end_day" disabled>
                    <input type="text" placeholder="Minuts" id="end_month" disabled>
                 </fieldset>
            </div>            
            <div class="items">
               <fieldset>
                    <legend>Remind</legend>
                    <label><input type="checkbox" > 5 Min</label>
                    <label><input type="checkbox" > 15 Min</label>
                    <label><input type="checkbox" > 30 Min</label>
                    <label><input type="checkbox" > 1 Hour</label>
                   <label><input type="checkbox" > 1 Day</label>
                </fieldset>
            </div>
        </div>
        </form>
    </div>
{% endblock %}


{% block point %}
    {{ block.super }}
<script>
        function onlyOne(checkbox, type) {
            var checkboxes = document.getElementsByName("check")
            checkboxes.forEach((item) => {
                if (item !== checkbox) item.checked = false
            })

            if (type == 'once') {
                document.getElementById('start_day'  ).disabled = false;
                document.getElementById('start_month').disabled = false;
                document.getElementById('start_year' ).disabled = false;
                document.getElementById('end_day'  ).disabled = true;
                document.getElementById('end_month').disabled = true;
                document.getElementById('end_year' ).disabled = true;
            }
            else if (type == 'daily') {
                document.getElementById('start_day'  ).disabled = true;
                document.getElementById('start_month').disabled = true;
                document.getElementById('start_year' ).disabled = true;
                document.getElementById('end_day'  ).disabled = true;
                document.getElementById('end_month').disabled = true;
                document.getElementById('end_year' ).disabled = true;
            }            
            

            document.getElementById("status").textContent = type
        }

</script>
{% endblock %}