{% load static %}
<!DOCTYPE html>
<html>
<head>
    {% block meta %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock %}

    {% block title %}
    <title>CommU</title>
    {% endblock %}

    {% block relation %}
    <link rel="icon" type="icon"  href="{% static 'favicon.ico' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
    {% endblock %}
</head>
<body>

    <div class="top-bar"> <!-- Верхняя полоса -->
        <div class="logo">
            <img class="icon"  src="{% static 'CommU.png' %}" alt="Icon"> 
            
            <span><div class="logotext"><a href="">CommU</a></div></span>
        </div>
        <div class="menutitle links">
            <a href="#">[application list]</a>
        </div>
        {% block user %}
        <div class="auth-buttons">
            <a href="#">Log In</a>
            <a href="reg/">Sign Up</a>
        </div>        
        {% endblock %}
    </div>

    {% block theme %}

    {% endblock %}
    
    <div class="bottom">
        <div class="bottom-bar"> <!-- Первая нижняя полоса -->
            <div id="geoposition"></div>
            <div id="datetime"></div>
        </div>

        <div class="footer-bar"> <!-- Самая нижняя полоса -->
            <div class="copyright">&copy; 2024 CommU</div>
            <div class="links">
                <a href="about/">About</a>
                <a href="terms/">Terms</a>
                <a href="#">Contacts</a>
            </div>
        </div>
    </div>
            

    <script>
        // Скрипт для отображения текущей даты, времени, часового пояса
        function updateDateTime() {
            const options = { 
                weekday: 'long', year: 'numeric', month: 'long', day: 'numeric', 
                hour: '2-digit', minute: '2-digit', second: '2-digit', 
                timeZoneName: 'short' 
            };
            const now = new Date().toLocaleString('en-EN', options);
            document.getElementById('datetime').innerHTML = now;
        }

        // Для получения геопозиции
        function updateGeoPosition(){
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function(position) {
                    const lat = position.coords.latitude;
                    const lon = position.coords.longitude;
                    document.getElementById('geoposition').innerHTML = ` Geoposition: ${lat.toFixed(2)}, ${lon.toFixed(2)}`;
                });
            }
        }
                   

        // Обновление времени каждую секунду
        setInterval(updateDateTime, 1000);
        //setInterval(updateGeoPosition, 60000);
        updateDateTime();
        updateGeoPosition();
    </script>
    
</body>
</html>