{% extends "index.html" %}
{% load static %}


{% block style %}
{{ block.super }}
    <style>
        .exit-bar {
            height: 20px;
            display: flex;
            justify-items: center;
            justify-content: space-around;
        }
    
        .exit-bar img{
            height: 25px;
            margin-left: 10px;
        }
    </style>
{% endblock %}


{% block application %}
    <div class="menutitle links">
        <a href="#">[my projects (plans, deals)] [my bank] [my store (needs, sale, exchange)] [my services (contracts)]  !new offer !new message</a>
    </div>
{% endblock %}

{% block user %}
    <div class="exit-bar">   
        <div> {{local_user}} </div>

        <a href="logout/"><img src="{% static 'logout.png' %}" alt="log out"></a> 
    </div>
       
{% endblock %}

{% block theme %}
   {{block.super}}
{% endblock %}

    
{% block perform %}
    <div class="workplace">
        <div class="left-sidebar">
            <div class="left-top">
                {% block search-result %}
                    {{ block.super }}
                {%endblock%} <!-- search-result-->
            </div>
            {% block public-list %}
                {{ block.super}}
            {%endblock%}              

        </div> <!-- left-sidebar -->

        <div class="center-content">
            <div class="center-top">

            </div> <!-- center-top-->
            {% block make %}
                {{block.super}}
            {%endblock%}

            <div class="center-bottom">
                {% block user-project-list %}
                <hr>
                Projects:
                <ul class="project_list">
                    <li class="project_item"><a href="#">Life</a></li>
                </ul>
                {%endblock%}
            </div> <!-- center-bottom -->

        </div> <!-- center-content -->

        <div class="right-sidebar">
            <div class="right-top">
            </div> <!-- right-top -->

            {% block agenda %}
                <div class="right-bottom">
                    Today agenda:
                    <ul>
                        <li>05:00 AM:  raise up [Health] </li>
                        <li>11:00 AM Sunday: lesson [GoncharClub] {till: 13:00} </li>
                        <li>13:30 PM Sunday: lesson [IT-TOP] {till: 14:30}</li>
                    </ul> 
                </div> <!-- right-bottom -->
            {%endblock%} <!-- agenda-->

        </div> <!-- right-sidebar -->
    </div> <!-- workplace -->
{%endblock%} <!-- perform -->