{% extends "index.html" %}


    {% block user %}
       <p> {{local_user}} [<a href="logout/"> log out </a>] </p>
    {% endblock %}


    {% block theme %}
    <div class="main-content"> <!-- Средняя часть -->
        <div class="left-sidebar sidebar">
            Projects:
            <ul class="project_list">
                <li class="project_item"><a href="#">Health - day lifemode</a></li>
                <li class="project_item"><a href="#">EuroSpar - grocery's provision</a></li>
                <li class="project_item"><a href="#">Yandex - taxi driver</a></li>
                <li class="project_item"><a href="#">GoncharClub - kids course</a></li>
                <li class="project_item"><a href="#">Health - day lifemode</a></li>
                <li class="project_item"><a href="#">EuroSpar - grocery's provision</a></li>
                <li class="project_item"><a href="#">Yandex - taxi driver</a></li>
                <li class="project_item"><a href="#">GoncharClub - kids course</a></li>
            </ul>
        </div>
        <div class="center-content">
            <h2>Основной контент</h2>
            <p>Здесь будет изменяемый контент.</p>
        </div>
        <div class="right-sidebar sidebar">
            Today events:
            <ul>
                <li>05:00 AM:  raise up [Health] </li>
                <li>11:00 AM Sunday: lesson [GoncharClub] {till: 13:00}
                </li>
                <li>13:30 PM Sunday: lesson [IT-TOP] {till: 14:30}</li>
            </ul>
        </div>
    </div>
    {% endblock %}
