{% extends "index.html" %}
{% load static %}


{% block relation-css%}
    <link rel="stylesheet" href="{% static 'registration.css' %}">
{%endblock%}

{% block application %}
    <div class="menutitle links">
        Authorization
    </div>
{% endblock %}

{% block input_data %}
    <div class="context">
        <form method="post" >
            {% csrf_token %}
            <div>
                <label for="id_name">Username</label>                                      
                <input type="text" name="username" maxlength="100" id="id_name"> <!-- 'required' means we can't pass it-->
            </div>
<!--
                    <div class="warning">
                        {{ passstate }}
                    </div>

                <div>
                    <label for="id_pass">Password</label>
                    <input type="password" name="user_password" minlength="8" id="id_pass">
                </div>
                <div>
                    <label for="id_repass">Repeat password</label>
                    <input type="password" name="user_repassword" minlength="8"  id="id_repass">
                </div>
                <div>
                    <label for="id_email">Email</label>                                      
                    <input type="email" name="email" maxlength="320" required id="id_email">
                </div>
-->        
                    <button class="button" type="submit">Enter</button>
                </form>
            </div>     
{% endblock%}

<!--
    <hr>
    <div class="context">{{ form }}</div> 

-->
