{% extends "index.html" %}
{% load static %}

{% block style %}
    <style>
        
        .container {
            
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            font-family: Arial, sans-serif;


            gap: 20px;
            margin: 0;
            border: 1px solid #ccc;
            border-radius: 8px;
        }
        .column {
            flex: 1;
            padding: 15px;
            border: 1px solid #ccc;
            border-radius: 8px;
            width: 40%
        }
        .bottom-field {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            margin-top: 15px;
            text-align: center;
            border: 1px solid #ccc;
            border-radius: 8px;
            width: 100%
        }
        label, input, textarea{
            display: block;
            width: 100%;
            margin-top: 5px;
        }
        input[type="checkbox"] {
            width: auto;
            display: inline-block;
        }

        .linkback{
            display: flex;
            justify-content: center;
            align-items: center;

            margin-top: 5px;

            width: 120px;
            height: 25px;

            color: black;
            background-color: #ccc;
            
            font-size: 14px;
            
            border: 1px solid black;
            border-radius: 4px;
        }        
        .button{
            width: 120px;
            height: 25px;
        }
    </style>
{% endblock %}

{% block theme %}
{%endblock%}

{% block perform %}
    <div class="container">
        <div class="column">
            
            <form method="POST" id="dataid">
                {% csrf_token %}
                <fieldset>
                    <legend> <h4>Skill's Parameters</h4> </legend>
                    <label>Name: <input type="text" name="skill_name"  maxlength="100" value="{{skill_name}}" ></label>
                    <label>Resources: <textarea name="skill_resources" maxlength="300" >{{skill_resources}}</textarea></label>
                    <label>Description: <textarea name="skill_desc" maxlength="300" >{{skill_desc}}</textarea></label>
                    <label>Goal: <textarea name="skill_goal" maxlength="100">{{skill_goal}}</textarea></label>
                    {% if skill_public == True %}
                        <label><input type="checkbox" name="skill_public" checked>Public</label>
                    {% else %}
                        <label><input type="checkbox" name="skill_public" >Public</label>
                    {% endif %}
                    <label>Author: <input type="text" name="skill_author" maxlength="100" value="{{skill_author}}"></label>
                    <input type="button" onclick="clearform()" value="Clear">
                </fieldset>

                <div class="bottom-field">
                    {% if local_user %}
                        <div>
                            <input type="submit" value="Save" name="save">
                            <label><input type="checkbox" checked> save overwrite</label>
                        </div>
                        <div class="button">
                            {% if skill_name %}
                                <input type="submit" value="Delete" name="delete">
                            {% endif %}       
                        </div>
                    {% endif %}    
                    <div>
                        <a href="/" class="linkback" >Back</a>
                    </div>                    
                </div>
            </form> <!-- post -->
        </div> <!-- column -->        
    </div> <!-- container -->
{% endblock %}




