{% extends "index.html" %}
{% load static %}

{% block title %}
    <title>CommU Laws</title>
{% endblock %}

{% block application %}
    CommU society Basic (DO NOT) laws.
{% endblock %}

{% block workplace %}
    <div class="speed-bar">
        <a href="/" class="speed-bar-btn speed-bar-back">Back</a>
    </div>

    <section class="index-content-section">
        <p><b>1. We DO NOT force anyone to follow the laws that we follow.</b></p>
        <p><ul>
            <li>Author: CommU;</li>
            <li>Based on: Nobody wants to live by laws it does not accept;</li>
            <li> Goal: Every person should be free from pressure or restrictions from others.</li>
        </ul></p>
    </section>

    <section class="index-content-section">
        <p><b>2. We DO NOT threat to do any actions that lead to physical harm or death of any person.</b></p>
        <p><ul>
            <li>Author: CommU;</li>
            <li>Based on: Nobody wants to be threatened or harmed;</li>
            <li> Goal: Every person should be free from pressure or restrictions from others.</li>
        </ul></p>
    </section>

    <section class="index-content-section">
        <p><b>3. We DO NOT any actions that lead to physical harm or death of any person, 
            If there are no threats of physical harm or death for us from that person.</b></p>
        <p><ul>
            <li>Author: CommU;</li>
            <li>Based on: No one wants to get any harm from another. But to stay free you need to protect yourself from attacks;</li>
            <li> Goal: Every person should be free from pressure or restrictions from others.</li>
        </ul></p>
    </section>

    <section class="index-content-section">
        <p><b>4. We DO NOT any actions that lead to unfreedom of any person.</b></p>
        <p><ul>
            <li>Author: CommU;</li>
            <li>Based on: A person who does not accept the laws of the community is free to live without community;</li>
            <li> Goal: Every person should be free from pressure or restrictions from others.</li>
        </ul></p>
    </section>

    <section class="index-content-section">
        <p><b>5. We DO NOT owe anything to anyone if there is no deal about it.</b></p>
        <p><ul>
            <li>Author: CommU;</li>
            <li>Based on: concept of freedom;</li>
            <li>Goal: Every person should be free from pressure or restrictions from others.</li>
        </ul></p>
    </section>

    <section class="index-content-section">
        <p><b>6. We DO NOT demand anything from anyone if there is no deal about it.</b></p>
        <p><ul>
            <li>Author: CommU;</li>
            <li>Based on: concept of freedom;</li>
            <li>Goal: Every person should be free from pressure or restrictions from others.</li>
        </ul></p>
    </section>

    <section class="index-content-section">
        <p><b>7. We DO NOT take off other person's property if there is no deal about it.</b></p>
        <p><ul>
            <li>Author: CommU;</li>
            <li>Based on: concept of freedom;</li>
            <li>Goal: Every person should be free from pressure or restrictions from others.</li>
        </ul></p>
    </section>
    
    <section class="index-content-section">
        <p><b>8. We DO NOT extend the guilty and responsibility of a particular person to the communities to which that person belongs.</b></p>
        <p><ul>
            <li>Author: CommU;</li>
            <li>Based on: For Human there is no common guilt;</li>
            <li>Goal: Everyone should only be responsible for its own actions.</li>
        </ul></p>
    </section>


    <div class="speed-bar">
        <a href="/" class="speed-bar-btn speed-bar-link">Back</a>
    </div>
{% endblock %} <!-- workplace -->
