{% extends "index.html" %}
{% load static %}

{% block title %}
<title>Rules</title>
{% endblock %}

{% block application %}
    There are some rules:
{% endblock %}

{% block workplace %}
    <div class="speed-bar">
        {% if user.is_authenticated %}
            <a href="{% url 'dashboard' %}" class="speed-bar-btn speed-bar-link">
        {%else%}
            <a href="{% url 'index' %}" class="speed-bar-btn speed-bar-link">
        {% endif %}
        Back
        </a>
    </div>

    <section class="index-content-section">
        <ul>
            <li>1. Log in first</li>
            <li>2. To join other user's projects you must have been invitatated.</li>
            <li>3. You can send the offer to your contacts to join your projects/contracts.</li>
        </ul>
    </section>  
{% endblock %} <!-- workplace -->
