{% extends "index.html" %}
{% load static %}

{% block title %}
<title>Terms</title>
{% endblock %}

{% block application %}
    There are some terms:
{% endblock %}

{% block workplace %}
    <div class="speed-bar">
        {% if user.is_authenticated %}
            <a href="{% url 'dashboard' %}" class="speed-bar-btn speed-bar-link">
        {%else%}
            <a href="{% url 'index' %}" class="speed-bar-btn speed-bar-link">
        {% endif %}
        Back
        </a>
    </div>

    <div class="index-context">
        <section class="index-content-section">
            <ul>
                <li>To join CommU you should accept and follow CommU <a href="{% url 'info' args='laws' %}"> Laws </a></li>
                <li>There are some <a href="{% url 'info' args='rules' %}">rules</a> to use CommU</li>
            </ul>
        </section>
    </div>     
{% endblock %} <!-- workplace -->
