{% extends "index.html" %}
{% load static %}

{% block title %}
    <title>Event</title>
{% endblock %}

{% block application %}
    Event for
    {% if user_root %}
        {{user_root}} - 
    {% endif %}
    {% if user_root %}
        skill "{{event.name}}"
    {% endif %}  
{% endblock %}

{% block style %}
    {{ block.super }}
    <style>
        .event-work-field {
            display: flex;
            flex-direction: column;
            align-items: left;
            justify-content: center;
            font-size: large;

        /*
            border: 1px solid blue;
            border-radius: 8px;
        */
        }

        .event-center {
            display: flex;
       
            justify-content: left;
            border: 1px solid blue;
            border-radius: 8px;
            padding: 10px;

        }

        .event-items {
            padding: 5px;
            padding-left: 20px;
            border: 1px solid #ccc;
            border-radius: 8px;
        }


        input[type='submit'] {
            width: 150px;
            font-size: large;
        }

        input:invalid + span::after {
            content: " ✖";
        }

        input:valid + span::after {
            content: " ✓";
        }

        .event-string {
            font-size: medium;
            font-weight: bold;

            background-color: #ccc;
            border: #ccc;
            width: 500px;
        }
    </style>
{% endblock %}

{% block workplace %}
<form method="POST" id="dataid">
    {% csrf_token %}

    <div class="speed-bar">
        <a href="{{back_link}}" class="speed-bar-btn speed-bar-back">Back</a>
        <div>
            <button type="submit" class="speed-bar-btn" name="save" value="save">Save</button> <!-- {'name': value} will append to request.POST -->
            {% if event_edit %}
                <button type="submit" class="speed-bar-btn" name="delete" value="delete"  onclick="return confirm('Are you sure?')">Delete</button>
            {% endif %}
        </div> 
    </div>


    <div class="event-work-field">

        <div class="event-center">
            <div class="event-items">
                <fieldset>
                    <legend>Event</legend>

                        <!--<label id="status">...</label>-->
                        <input type="text" id="status" class="event-string" name="event_string">
                </fieldset>
                
            </div>
        </div>

        <div class="event-center">
            <div class="event-items">
                <fieldset>
                    <legend>Date</legend>
                    <input type="date" id="start_date" value="{{event.start_date}}" name="start_date" oninput="set_event_string()">
                    <span class="validity"></span>
                </fieldset>
            </div>
            <div class="event-items">
                <fieldset>
                    <legend>Repeating</legend>
                    <label><input type="checkbox" class="check" name="once"    onclick="onlyOne(this)" {% if event.once %} checked {%endif%}>Once</label>
                    <label><input type="checkbox" class="check" name="daily"   onclick="onlyOne(this)" {% if event.daily %} checked {%endif%}>Daily</label>
                    <label><input type="checkbox" class="check" name="work"    onclick="onlyOne(this)" {% if event.work %} checked {%endif%}>Work days</label>
                    <label><input type="checkbox" class="check" name="weekly"  onclick="onlyOne(this)" {% if event.weekly %} checked {%endif%}>Weekly</label>
                    <label><input type="checkbox" class="check" name="atday"   onclick="onlyOne(this)" {% if event.atday %} checked {%endif%}>Monthly on day</label>    
                    <label><input type="checkbox" class="check" name="atweek"  onclick="onlyOne(this)" {% if event.atweek %} checked {%endif%}>Monthly weekday</label>
                    <label><input type="checkbox" class="check" name="yearly"  onclick="onlyOne(this)" {% if event.yearly %} checked {%endif%}>Annually</label>  
                    <div>
                        <hr>
                        <label><input type="checkbox" class="check" name="wdays"  onclick="onlyOne(this)" {% if event.wdays %} checked {%endif%}>Week days</label>
                        <fieldset>
                            <label><input type="checkbox" class="w_days" name="w_monday"   onclick="addwday()" {% if event.w_monday %} checked {%endif%}>Monday</label>
                            <label><input type="checkbox" class="w_days" name="w_tuesday"  onclick="addwday()" {% if event.w_tuesday %} checked {%endif%}>Tuesday</label>    
                            <label><input type="checkbox" class="w_days" name="w_wednsday" onclick="addwday()" {% if event.w_wednsday %} checked {%endif%}>Wednsday</label>
                            <label><input type="checkbox" class="w_days" name="w_thirsday" onclick="addwday()" {% if event.w_thirsday %} checked {%endif%}>Thirsday</label>
                            <label><input type="checkbox" class="w_days" name="w_friday"   onclick="addwday()" {% if event.w_friday %} checked {%endif%}>Friday</label>
                            <label><input type="checkbox" class="w_days" name="w_saturday" onclick="addwday()" {% if event.w_saturday %} checked {%endif%}>Saturday</label>
                            <label><input type="checkbox" class="w_days" name="w_sunday"   onclick="addwday()" {% if event.w_sunday %} checked {%endif%}>Sunday</label>
                        </fieldset>
                    </div>
               </fieldset>
         </div>
        </div>

        <div class="event-center">
            <div class="event-items">
                <fieldset>
                    <legend>Start time</legend>
                    <input type="time" id="start_time" name="start_time" value={{event.start_time}} oninput="set_event_string()">
                </fieldset>
                <fieldset>
                    <legend>End time</legend>
                    <input type="time" id="end_time" name="end_time" value={{event.start_time}} oninput="set_event_string()" disabled>
                    <label><input type="checkbox" name="duration" onclick="addendtime(this)">Duration</label>
                 </fieldset>
            </div>            
            <div class="event-items">
               <fieldset>
                    <legend>Remind</legend>
                    <label><input type="checkbox" name="rem_5"  {% if event.rem_5 %} checked {%endif%}>5 Min</label>
                    <label><input type="checkbox" name="rem_15" {% if event.rem_15 %} checked {%endif%}>15 Min</label>
                    <label><input type="checkbox" name="rem_30" {% if event.rem_30 %} checked {%endif%}>30 Min</label>
                    <label><input type="checkbox" name="rem_1h" {% if event.rem_1h %} checked {%endif%}>1 Hour</label>
                    <label><input type="checkbox" name="rem_1d" {% if event.rem_1d %} checked {%endif%}>1 Day</label>
                </fieldset>
            </div>
        </div>

    </div> <!-- work-field -->
</form>
{% endblock %}


{% block JavaScript %}
    {{ block.super }}

<script>
    const months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
    const weekdays = ["Sunday", "Monday", "Tuesday", "Wednsday", "Thirsday", "Friday", "Saturday"];
    const weeknum = ["first", "second", "third", "fourth", "fifth"]

    //console.log({{start_weekday}})

    function getWeekdayOccurrence(date) {
        return  occurrence = Math.ceil(date.getDate() / 7);
    }


    function addendtime(checkbox) {
        document.getElementById("end_time").disabled = !checkbox.checked;
    }

    function check_week_day(weekday) {
        var checkboxes = document.getElementsByClassName("w_days")
        checkboxes[weekday-1].checked = true
    }

    function addwday() {
        var checkboxes = document.getElementsByClassName("w_days")
        var day_list = "in "
        
        for (let i = 0; i < 7; i++) {
            checkboxes[i].disabled = false

            if (checkboxes[i].checked == true){
                if (i == 6) ind = 0; else ind = i + 1;
                if (day_list == "in ") div = ''; else div = ', ';
                
                day_list = day_list +div+ weekdays[ind];
            }     
        }

        var start_time = document.getElementById("start_time").value;
        var start_hour = start_time.slice(0, 2);
        var start_minute = start_time.slice(3, 6);
                
        document.getElementById("status").value = day_list +" at "+ start_hour+":"+start_minute;
    }

    function closewday(){
        var checkboxes = document.getElementsByClassName("w_days");             
        for (let i = 0; i < 7; i++) {
            checkboxes[i].disabled = true;
            checkboxes[i].checked = false;
        }
    }

    function set_event_string(event_type){
        var start_date = new Date(document.getElementById("start_date").value);
        var start_year = start_date.getFullYear();
        var start_day = start_date.getDate();
        var start_month = start_date.getMonth() + 1;
        var start_weekday = start_date.getDay();
        var occure = getWeekdayOccurrence(start_date) - 1

        console.log('week day:', start_weekday, occure )

        var start_time = document.getElementById("start_time").value;
        var start_hour = start_time.slice(0, 2);
        var start_minute = start_time.slice(3, 6);

        if (event_type == undefined) {
            event_type = get_checked()
        }

        console.log('type:', event_type)
        if (event_type == 'wdays') { 
            addwday(); 
            //check_week_day(start_weekday)
        }
        else {
            closewday()
            

            var event_string = document.getElementById("status")

            if (event_type == 'once') {
                event_string.value = "once " + start_day +' '+ months[start_month-1] +' '+ start_year +" at "+ start_hour+":"+start_minute;
            }
            else if (event_type == 'daily') {
                event_string.value = "everyday at "+ start_hour+":"+start_minute;
            }            
            else if (event_type == 'work') {
                event_string.value = "from Monday to Friday at "+ start_hour+":"+start_minute;
            }
            else if (event_type == 'weekly') {
                event_string.value = "every " + weekdays[start_weekday] +" at "+ start_hour+":"+start_minute;
            }            
            else if (event_type == 'atday') {
                event_string.value = "every " + start_day+"'th" + " of month at "+ start_hour+":"+start_minute;
            }            
            else if (event_type == 'atweek') {
                event_string.value = "every " + weeknum[occure] + " " + weekdays[start_weekday] + " in month at "+ start_hour+":"+start_minute;
            }                        
            else if (event_type == 'yearly') {
                event_string.value = "every year " + start_day +' '+ months[start_month-1] + " at "+ start_hour+":"+start_minute;
            }
        }
    }

    function get_checked() {         
        var checkboxes = document.getElementsByClassName("check")
        console.log('check:', checkboxes)
        for (let i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i].checked) return checkboxes[i].name;
        }
    }

    function onlyOne(checkbox) {
        if (checkbox.checked == false) { checkbox.checked = true } // one at least must be checked
        else {

               var checkboxes = document.getElementsByClassName("check")
               console.log('onlyOne...', checkboxes)
               for (let i = 0; i < checkboxes.length; i++) {
                   if (checkboxes[i] !== checkbox) checkboxes[i].checked = false; 
               }
        }

        set_event_string(checkbox.name)
    }
    

    set_event_string(get_checked())

</script>

{% endblock %}
