{% extends "index.html" %}
{% load static %}

{% block title %}
    <title></title>
{% endblock %}


{% block style %}
  {{block.super}}
{% endblock %}

{% block workplace %}

    <div class="speed-bar">
        <a href="/user/" class="speed-bar-btn speed-bar-link">Back</a>
        <div>
            <button type="submit" class="speed-bar-btn">Save</button>
            <button type="submit" class="speed-bar-btn">Delete</button>
        </div>
    </div>

    <div class="page-container">
        <div class="page-form-row">
            <div class="page-form-col">
                <div class="page-form-group">
                    <label for="name">Label</label>
                    <input type="text" name="text" maxlength="100" value="" placeholder="text" required>
                </div>
            </div>
         </div>
    </div>

{% endblock %}
