{% extends "index.html" %}
{% load static %}

{% block title %}
    <title>CommU Laws</title>
{% endblock %}

{% block style %}
    {{ block.super }}
    <style>
        .list{
            overflow: auto;
            height: 350px;
        }
    </style>
{%endblock%}

{% block query %}
    <p><a href="/" class="linkback">back to Main page</a></p>
    <hr>
{% endblock %}

{% block perform %}
    <p>CommU society Basic (DO NOT) laws.</p>
<div class="list">
    <p>We are CommU society:</p>
    <ul>
        <li>
            <b>1. We DO NOT force anyone to follow the laws that we follow.</b>
            <p>
            Author: CommU<br>
            Based on: Nobody wants to live by laws it does not accept<br>
            Goal: Every person should be free from pressure or restrictions from others.<br>
            </p>
        </li>
        <li>
            <b>2. We DO NOT threat to do any actions that lead to physical harm or death of any person.</b>
            <p>
            Author: CommU<br>
            Based on: Nobody wants to be threatened or harmed<br>
            Goal: Every person should be free from pressure or restrictions from others.<br>
            </p>
        </li>
        <li>
            <b>3. We DO NOT any actions that lead to physical harm or death of any person, 
                If there are no threats of physical harm or death for us from that person.</b>
            <p>
            Author: CommU<br>
            Based on: No one wants to get any harm from another. But to stay free you need to protect yourself from attacks.<br>
            Goal: Every person should be free from pressure or restrictions from others.<br>
            </p>
        </li>
        <li>
            <b>4. We DO NOT any actions that lead to unfreedom of any person</b>
            <p>
            Author: CommU<br>
            Based on: A person who does not accept the laws of the community is free to live outside the community<br>
            Goal: Every person should be free from pressure or restrictions from others.<br>
            </p>
        </li>
        <li>
            <b>5. We DO NOT owe anything to anyone if there is no deal about it.</b>
            <p>
            Author: CommU<br>
            Based on: concept of freedom<br>
            Goal: Every person should be free from pressure or restrictions from others.<br>
            </p>
        </li>
        <li>
            <b>6. We DO NOT demand anything from anyone if there is no deal about it.</b>
            <p>
            Author: CommU<br>
            Based on: concept of freedom<br>
            Goal: Every person should be free from pressure or restrictions from others.<br>
            </p>
        </li>
        <li>
            <b>7. We DO NOT take off other person's property if there is no deal about it.</b>
            <p>
            Author: CommU<br>
            Based on: concept of freedom<br>
            Goal: Every person should be free from pressure or restrictions from others.<br>
            </p>
        </li>
        <li>
            <b>8. We DO NOT extend the guilty and responsibility of a particular person to the communities to which that person belongs.</b>
            <p>
            Author: CommU<br>
            Based on: For Human there is no common guilt.<br>
            Goal: Everyone should only be responsible for its own actions.<br>
            </p>
        </li>            
    </ul>
</div>
{% endblock %}