{% extends "index.html" %}
{% load static %}

{% block title %}
    <title>Skill</title>
{% endblock %}

{% block application %}
    {% if name %}
        Skill "{{name}}"
    {% else %}
        New skill
    {%endif%}
{% endblock %}


{% block style %}
    {{ block.super }}
    <style>
        .skill-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            font-family: Arial, sans-serif;
            gap: 20px;
            margin: 0;
            border: 1px solid #ccc;
            border-radius: 8px;
        }

        .skill-column {
            flex: 1;
            padding: 15px;
            border: 1px solid #ccc;
            border-radius: 8px;
            width: 40%
        }

        .skill-bottom-field {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            margin-top: 15px;
            text-align: center;
            border: 1px solid #ccc;
            border-radius: 8px;
            width: 100%
        }

        .skill-button{
            width: 120px;
            height: 25px;
        }

        label, textarea{
            display: block;
            width: 100%;
            margin-top: 15px;
        }

        .form-btn{
            display: block;
            width: 100%;
            margin-top: 10px;         
        }

        input[type="checkbox"] {
            width: auto;
            display: inline-block;
        }

    </style>
{% endblock %}


{% block workplace %}
<form method="POST" id="dataid">
{% csrf_token %}

<div class="speed-bar">
   <a href="/user/" class="speed-bar-btn speed-bar-back">Back</a>
    <div>
        {% if root %}
            <button type="submit" class="speed-bar-btn" name="add" value="add">Add to {{root}} </button>
        {%endif%}
        <button type="submit" class="speed-bar-btn" name="save" value="save">Save as template</button> <!-- {'name': value} will append to request.POST -->
        {% if saved %}
            <button type="submit" class="speed-bar-btn" name="delete" value="delete"  onclick="return confirm('Are you sure?')">Delete</button>
        {% endif %}
                  
    </div> 
</div>

    <div class="skill-container">
        <div class="skill-column">
            

                <fieldset>
                    <legend> <h4>Parameters</h4> </legend>
                    <label>Name: <input type="text" name="name"  maxlength="100" value="{{name}}" required></label>
                    <label>Description: <textarea name="description" maxlength="300" >{{description}}</textarea></label>
<!--
                    <label>Resources: <textarea name="resources" maxlength="300" >{{resources}}</textarea></label>
                    <label>Goal: <textarea name="goal" maxlength="100">{{goal}}</textarea></label>
-->
                    <label><input type="checkbox" name="public" {% if public == True %} checked {%endif%} >Public</label>
                    
                    <button type="submit" class="speed-bar-btn" onclick="clearform()" value="Restore">Restore</button>
                </fieldset>
                <fieldset>
                    <button type="submit" class="speed-bar-btn" name="event" value="event">
                        {% if event %}
                            {{event.event_string}}
                        {% else %}
                            Add Event
                        {%endif%}
                    </button>
                </fieldset>



<!--
                <div class="skill-bottom-field">
                    {% if local_user %}
                        <div class="skill-button">
                            <input type="submit" class="form-btn" value="Save" name="save">
                        </div>
                        <div class="skill-button">
                            {% if name %}
                                <input type="submit" class="form-btn" value="Delete" name="delete" onclick="return confirm('Are you sure?')">
                            {% endif %}       
                        </div>
                    {% endif %}                 
                </div>
-->     

        </div> <!-- column -->        
    </div> <!-- container -->
    
</form> <!-- post -->
{% endblock %}



{% block JavaScript %}
    {{ block.super }}
    <script>

        function clearform() {
            document.getElementById("dataid").reset()
        }

    </script>
{% endblock %}