{% extends "index.html" %}
{% load static %}

{% block title %}
<title>Terms</title>
{% endblock %}

{% block application %}
    There are some terms:
{% endblock %}

{% block workplace %}
    <div class="speed-bar">
        <a href="/" class="speed-bar-btn speed-bar-back">Back</a>
        <div>
        <!--
         <button type="submit" class="speed-bar-btn">Save</button>
         <button type="submit" class="speed-bar-btn">Delete</button>
        -->
        </div>
    </div>

    <div class="index-context">
        <section class="index-content-section">
            <ul>
                <li>To join CommU you should accept and follow CommU <a href="/info/laws"> Laws </a></li>
                <li>There are some <a href="/info/rules">rules</a> to use CommU</li>
            </ul>
        </section>
    </div>     
{% endblock %} <!-- workplace -->
