{% extends "index.html" %}
{% load static %}

{% block title %}
<title>Terms</title>
{% endblock %}

{% block application %}
    There are some terms:
{% endblock %}

{% block workplace %}
    
    <div class="login-context">
        <form method="post" >
        {% csrf_token %}
            <section class="content-section">
                <ul>
                    <li>To join CommU you should accept and follow CommU <a href="/info/laws"> Laws </a></li>
                    <li>There are some <a href="/info/rules">rules</a> to use CommU</li>
                </ul>
            </section>
        </form>
    </div>     
{% endblock %} <!-- workplace -->
