{% extends "index.html" %}
{% load static %}

{% block application %}
    <div class="menutitle links">
        <a href="#">[my projects] [my bank] [my store (needs, sale, exchange)] [my services (contracts)]  !new offer !new message</a>
    </div>
{% endblock %}

{% block make_new %}
    <div class="make-new">
    <p>Make new:</p>
    <form method="post">
        {% csrf_token %}
        <a href="/skill/" class="linkbt">New skill</a>
        <a href="/contract/" class="linkbt">New contract</a>
        <a href="/project/" class="linkbt">New project</a>
<!--
        {% if task == None %}
            <a href="/skill/" class="linkbt">New skill</a>
            <a href="/contract/" class="linkbt">New contract</a>
            <a href="/project/" class="linkbt">New project</a>
        {% else %}
            {% if project != None or skills != None or dealers != None %}
                <a href="/skill/" class="linkbt">New skill</a>
                <a href="/contract/" class="linkbt">New contract</a>
                <a href="/project/" class="linkbt">New project</a>
            {% else %}
                Make new <b>'{{task}}'</b>: 
                <a href="/skill/{{task}}" class="linkbt">skill</a>
                <a href="/contract/{{task}}" class="linkbt">contract </a>
                <a href="/project/{{task}}" class="linkbt">project</a>                            
            {% endif %}
        {% endif %}    
-->
    </form>
    <hr>
    </div>
{% endblock %} <!-- make_new -->

{% block most-used %}
    <div class="most-used">
        <p>Most used:</p>
        <hr>
    </div>
{%endblock%} <!-- most-used -->

{% block about %}
    <div class="center-top">
        {% if about_type %}
            {{about_type}} '{{about_name}}': 
            <ul>
                {% for item in about_value %}
                    <li>{{item}}</li> 
                {% endfor %}
            </ul>

                <a href="{{add_link}}">Add to plan</a>
                <a href="{{edit_link}}">Edit</a>
            <hr>
        {% endif %}
    </div> <!-- center-top-->
{%endblock%}


{% block user-project-list %}
    <div class="center-bottom">
        Project: {{user_project}}>
        <ul class="project_list">
            <li class="project_item"><a href="#">Life</a></li>
        </ul>
    </div> <!-- center-bottom -->
 {%endblock%}


{% block agenda %}
                <div class="right-bottom">
                    Today agenda:
                    <ul>
                        <li>05:00 AM:  raise up [Health] </li>
                        <li>11:00 AM Sunday: lesson [GoncharClub] {till: 13:00} </li>
                        <li>13:30 PM Sunday: lesson [IT-TOP] {till: 14:30}</li>
                    </ul> 
                </div> <!-- right-bottom -->
{%endblock%} <!-- agenda-->
