{% extends "index.html" %}
{% load static %}

{% block style %}
    {{ block.super}}

    <style>
        .login-context {
            display: flex;
            flex-wrap: nowrap;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-style: normal;
            font-size: 20px;
            margin-top: 40px;
        }
 
        .login-button {
            border: 1px solid black;
            width: 300px;
            height: 40px;
            color: blue;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 16px;

            display: flex;
            box-sizing: border-box;
            justify-content: center;
            align-items: center;

            margin: 15px;
            cursor: pointer;
            border-radius: 5px;

            transition: all 0.3s;
        }
        
        .login-button::before{
            content: attr(text);
        }

        .login-button:hover::before {
            color: white;
            background-color: purple;
            text-transform: uppercase;
            content: attr(hover-text);
            
        }

        .login-warning {
            color: red;
            font-style: italic;
            font-weight: bold;
        }
    </style>
{% endblock %}


{% block application %}
    Write your name Friend and come in...
{% endblock %}

{% block authorization %}
    <div class="auth-buttons">
        <a href="/signup/" class="index-btn index-btn-login">Sign Up</a>
    </div>
{% endblock %} <!-- authorization -->


{% block workplace %}
    <div class="speed-bar">
        <a href="/" class="speed-bar-btn speed-bar-link">Back</a>
    </div>

    <div class="login-context">
        <form method="post" >
        {% csrf_token %}
            <section class="content-section">

                <div class="login-warning">
                    {{ userstate }}
                </div>
                <div>
                    <label for="id_name">Username</label>                                      
                    <input type="text" name="username" maxlength="100" id="id_name" placeholder="type your ID"> <!-- 'required' means we can't pass it-->
                </div>
                <div class="login-warning">
                    {{ passstate }}
                </div>
                <div>
                    <label for="id_pass">Password</label>
                    <input type="password" name="user_password" minlength="8" id="id_pass">
                </div>
    
                <button class="login-button" type="submit">Enter</button>

            </section>
        </form>
    </div>     
{% endblock %} <!-- workplace -->
