{% extends "index.html" %}
{% load static %}

{% block style %}
    {{ block.super}}

    <style>
        .login-context {
            display: flex;
            flex-wrap: nowrap;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            /* font-style: normal; */
            /* font-size: 16px; */
            margin-top: 40px;
        }
 
        .result-button {
            width: 90%;
        }

    </style>
{% endblock %}


{% block application %}
    Write your name Friend and come in...
{% endblock %}

{% block authorization %}
    <div class="auth-buttons">
        <a href="{% url 'signup' %}" class="index-btn index-btn-login">Sign Up</a>
    </div>
{% endblock %} <!-- authorization -->


{% block workplace %}
    <div class="speed-bar">
        <a href="{% url 'index' %}" class="speed-bar-btn speed-bar-link">Back</a>
    </div>

    <div class="login-context">
        <form method="post" >
        {% csrf_token %}

        <div class="page-container">
            <div class="page-form-row">
                <div class="page-form-col">
                    <div class="page-form-group">
                        <label for="id_name">Username</label>                                      
                        <input type="text" name="username" maxlength="100" id="id_name" placeholder="type your ID" required>
                    </div>
                </div>
            </div>

            <div class="page-form-row">
                <div class="page-form-col">
                    <div class="page-form-group">
                        <label for="id_pass">Password</label>
                        <input type="password" name="password" minlength="8" id="id_pass" required placeholder="type your password">
                    </div>
                </div>
            </div>
            
            <center>
                <button type="submit" class="speed-bar-btn result-button" title="Log in">Enter</button>
            </center>
            
        </div>

        <!-- {{ form.as_p }} -->

        </form>
    </div>     
{% endblock %} <!-- workplace -->
